a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.bid {
  -webkit-transition: 1s;
}

.bid.ng-enter,
.bid.ng-leave.ng-leave-active {
  opacity: 0;
}

.bid.ng-leave,
.bid.ng-enter.ng-enter-active {
  opacity: 1;
}

table.bids {
  margin-top: 2em;
  min-width: 300px;
}

.bid-buyer span {
}

.bid-amount { color: red; }
.bid-amount.reserve-met { color: green; }

td.show-all-bids {
  text-align: center;
}
